<?xml version="1.0" encoding="utf-8" ?>
<!--(debug)-->
<configuration>
	<appSettings>		
		<add key="DefaultFilePath" value="C:\Users\FeldmanJ.SPAR\OneDrive - The SPAR Group Ltd\source\repos\OOSReport\OOSReport\bin\Release\"/>
		<add key="OutPutPath" value="C:\Users\FeldmanJ.SPAR\OneDrive - The SPAR Group Ltd\source\repos\OOSReport\New Reports\"/>
		<add key="LogFilePath" value="C:\Users\FeldmanJ.SPAR\OneDrive - The SPAR Group Ltd\source\repos\OOSReport\OOSReport\bin\Debug\"/>
		<add key="SupplierLogFilePath" value="C:\Users\FeldmanJ.SPAR\OneDrive - The SPAR Group Ltd\source\repos\OOSReport\OOSReport\bin\Debug\"/>
		<add key="MailingList" value="James.Feldman@spar.co.za"/>
	</appSettings> 	
    <connectionStrings>
        <add name="localhost_SparCE_Connection" connectionString="XpoProvider=MSSqlServer;data source=coscat4;integrated security=SSPI;initial catalog=SparCE" />
    </connectionStrings>	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>


<!--(Live)
<configuration>
	<appSettings>
		<add key="OutputPath" value="\\coscat2\Nprinting_Reports\Out Of Stock Reports"/>
		<add key="DefaultFilePath" value="Z:\Production_Scripts\OOSReport\Release\"/>
		<add key="LogFilePath" value="Z:\Production_Scripts\OOSReport\Release\"/>
		<add key="SupplierLogFilePath" value="Z:\Production_Scripts\OOSReport\Release\"/>
		<add key="MailingList" value="James.Feldman@spar.co.za, eugene.wolff@spar.co.za, donovan.papigadu@spar.co.za"/>
	</appSettings>
	<connectionStrings>
		<add name="localhost_SparCE_Connection" connectionString="XpoProvider=MSSqlServer;data source=coscat4;integrated security=SSPI;initial catalog=SparCE" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>-->
